:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#hue {
  display: flex;
  flex-direction: row;
  min-height: 10%;
}
.app{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 90%;
}
#container {
  
}

#hsla {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 10%;
}